@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

a {
  text-decoration: none;
  color: grey;
}

ul{
  list-style-type: none;
}

li{
  margin: 10px;
}

.header{
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header  .left-links{
  display: flex;
  justify-content: space-evenly;
}

.header  .right-links{
  display: flex;
  justify-content: end;
}

.content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #D3D3D3;
}
.footer .left-links{
  display: flex;
}

.footer .right-links{
  display: flex;
}

