  body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

a{
  text-decoration: none;
  font-size: 24px;
  color: white;
}

ul{
  list-style: none;
  padding: 0;
  line-height: 50px;
  font-weight: 600;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-size: 32px;
  font-weight: 900;
  padding-left: 16px;
  display: flex;
  align-items: center;

}

.content{
  display: flex;
  flex-grow: 1;
  
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex; 
  align-items: center;
  justify-content: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  min-width: 300px;
  display: flex;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  width: 300px;
  padding: 16px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  padding: 48px; 
  gap: 50px;
}