/* Add CSS Styling */
.first{
    background-color: #000000;
    color: white;
}

.second{
    background-color: #FFDB58;
}

button{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}